/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  padding: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-family: "Zen Old Mincho";
  line-height: 1.8;
  margin: 0;
  font-weight: 500;
  font-size: 1.6rem;
}
body .pc_only {
  display: block;
}
body .sp_only {
  display: none;
}
body .tb_only {
  display: block;
}
body .sp_indent {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 971px) {
  body .tb_only {
    display: none;
  }
}
@media screen and (min-width: 300px) and (max-width: 355px) {
  body .sp_indent {
    display: none;
  }
}
@media screen and (min-width: 352px) and (max-width: 375px) {
  body .sm_indent {
    display: inline;
  }
}
@media screen and (max-width: 767px) {
  body .pc_only {
    display: none;
  }
  body .sp_only {
    display: block;
  }
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.inner {
  max-width: 98rem;
  margin: auto;
  padding-inline: 3rem;
}
@media screen and (max-width: 345px) {
  .inner {
    padding-inline: 1.5rem;
  }
}
.inner .section_title {
  text-align: center;
}
.inner .section_title h2 {
  font-size: 3rem;
  letter-spacing: 0.9rem;
  line-height: 1.1;
  color: #530700;
  font-family: "Zen Old Mincho";
  margin-bottom: 0.6rem;
}
@media screen and (max-width: 359px) {
  .inner .section_title h2 {
    font-size: 2.5rem;
  }
}
.inner .section_title p {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  line-height: 1.65;
  font-family: "EB Garamond", serif;
}
@media screen and (max-width: 767px) {
  .inner .section_title p {
    letter-spacing: 0.4rem;
  }
}
@media screen and (max-width: 767px) and (max-width: 345px) {
  .inner .section_title p {
    font-size: 1.8rem;
  }
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body.no-scroll {
  overflow: hidden;
  padding-right: var(--scrollbar-width, 0px);
}

.fade-in-up {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform;
}

.fade-in-up.active {
  opacity: 1;
  transform: translateY(0);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 8rem;
  text-align: center;
  transition: background-color 0.3s ease;
  background-color: transparent;
}
@media screen and (max-width: 767px) {
  header {
    height: 5rem;
  }
}
header.scrolled {
  background-color: rgb(83, 7, 0);
}

.header_container {
  max-width: 108rem;
  margin: 0 auto;
  display: flex;
  padding-inline: 8rem;
  height: 100%;
  justify-content: space-between;
  color: #fff;
  white-space: nowrap;
}
@media screen and (max-width: 1000px) {
  .header_container {
    padding-inline: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .header_container {
    padding-left: 2.2rem;
    height: 5rem;
    justify-content: flex-start;
    align-items: center;
  }
}
.header_container a {
  display: inline-block;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .header_container a {
    height: 5rem;
  }
}
.header_container a:hover {
  opacity: 0.6;
}
.header_container a h1.header_logo {
  font-size: 2rem;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .header_container a h1.header_logo {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 767px) {
  .header_container a h1.header_logo {
    font-size: 2rem;
    top: 0;
  }
}

.header_list {
  display: flex;
  gap: 2.2rem;
  font-size: 1.8rem;
  line-height: 1.5;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .header_list {
    gap: 1rem;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 767px) {
  .header_list {
    gap: 0;
  }
}

.header_item a {
  display: flex;
  align-items: center;
  height: 8rem;
  position: relative;
  transition: opacity 0.3s ease;
}
.header_item a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  bottom: 2.5rem;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
@media screen and (max-width: 767px) {
  .header_item a::after {
    height: 5rem;
  }
}
.header_item a:hover {
  opacity: 1;
}
.header_item a:hover::after {
  transform: scale(1, 1);
}

@media screen and (max-width: 767px) {
  header .toggle_menu {
    display: inline-block;
    width: 72px;
    height: 50px;
    position: absolute;
    z-index: 1001;
    top: 0;
    right: 0;
    background: #fff;
    transition: 0.2s;
  }
  header .open {
    background: #fff;
  }
  header .toggle_menu .toggle_line {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-indent: -9999px;
    width: 32px;
    height: 4px;
    border-radius: 5px;
    background-color: #530700;
  }
  header .toggle_menu .toggle_line::before {
    top: -12px;
    -webkit-animation: menu-barTop 0.6s forwards;
    animation: menu-barTop 0.6s forwards;
    content: "";
    position: absolute;
    left: 0;
    width: 32px;
    height: 4px;
    border-radius: 5px;
    background-color: #530700;
    transition: all 0.4s ease;
  }
  header .toggle_menu .toggle_line::after {
    top: 12px;
    -webkit-animation: menu-barBottom 0.6s forwards;
    animation: menu-barBottom 0.6s forwards;
    content: "";
    position: absolute;
    left: 0;
    width: 32px;
    height: 4px;
    border-radius: 5px;
    background-color: #530700;
    transition: all 0.4s ease;
  }
  header.open .toggle_menu .toggle_line {
    height: 0;
  }
  header.open .toggle_menu .toggle_line::before {
    transform: rotate(-45deg);
    transition: 0.4s;
    top: -2px;
    width: 32px;
  }
  header.open .toggle_menu .toggle_line::after {
    transform: rotate(45deg);
    transition: 0.4s;
    top: -2px;
    width: 32px;
  }
  .header_nav {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #4b0000;
    width: 300px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s;
    z-index: 1000;
  }
  header.open .header_nav {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    visibility: visible;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .header_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.6rem;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .header_list {
    gap: 0;
  }
}
@media screen and (max-width: 767px) {
  .header_item {
    transform: translateX(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
}
@media screen and (max-width: 767px) {
  header.open .header_item {
    transform: translateX(0);
  }
}
@media screen and (max-width: 767px) {
  header.open .header_item:nth-child(1) {
    transition-delay: 0.1s;
  }
}
@media screen and (max-width: 767px) {
  header.open .header_item:nth-child(2) {
    transition-delay: 0.2s;
  }
}
@media screen and (max-width: 767px) {
  header.open .header_item:nth-child(3) {
    transition-delay: 0.3s;
  }
}
@media screen and (max-width: 767px) {
  header.open .header_item:nth-child(4) {
    transition-delay: 0.4s;
  }
}
@media screen and (max-width: 767px) {
  header.open .header_item:nth-child(5) {
    transition-delay: 0.5s;
  }
}
@media screen and (max-width: 767px) {
  header.open .header_item:nth-child(6) {
    transition-delay: 0.6s;
  }
}
@media screen and (max-width: 767px) {
  .header_item a {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    padding: 15px 230px 15px 20px;
    white-space: nowrap;
    transition: all 0.4s ease;
  }
  .header_item a::after {
    display: none;
  }
  .header_item a:hover {
    background-color: #000;
    opacity: 1;
  }
}
section.fv_sec1 {
  position: relative;
}
section.fv_sec1 picture img {
  display: block;
  width: 100%;
  height: auto;
}
section.fv_sec1 .fv_title {
  position: absolute;
  top: 42.7%;
  left: 5.8%;
}
@media screen and (max-width: 767px) {
  section.fv_sec1 .fv_title {
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
}
section.fv_sec1 .fv_title h2 {
  font-size: 4rem;
  text-shadow: 5px 5px 5px #000;
  line-height: 1.75;
  letter-spacing: 1.2rem;
  color: #fff;
}
@media screen and (max-width: 767px) {
  section.fv_sec1 .fv_title h2 {
    font-size: 3rem;
    text-align: center;
    line-height: 2;
    letter-spacing: 0.89rem;
  }
}

/*============================
#about
============================*/
section#about.fv_sec2 {
  background-image: url(../img/section-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 13rem 0 11.7rem;
}
@media screen and (max-width: 767px) {
  section#about.fv_sec2 {
    padding: 6rem 0 5.6rem;
    background-image: url(../img/sp/section-sp_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
section#about.fv_sec2 .inner {
  padding-inline: unset;
}
section#about.fv_sec2 .inner .fv_textbox {
  writing-mode: vertical-rl;
  margin: auto;
}
@media screen and (max-width: 767px) {
  section#about.fv_sec2 .inner .fv_textbox {
    display: flex;
    align-items: center;
  }
}
section#about.fv_sec2 .inner .fv_textbox .fv_concept {
  line-height: 1.18;
  margin-left: 5rem;
}
@media screen and (max-width: 767px) {
  section#about.fv_sec2 .inner .fv_textbox .fv_concept {
    margin-left: unset;
  }
}
section#about.fv_sec2 .inner .fv_textbox .fv_concept h2 {
  font-size: 3rem;
  font-weight: 500;
  color: #530700;
  letter-spacing: 0.5rem;
}
@media screen and (max-width: 767px) {
  section#about.fv_sec2 .inner .fv_textbox .fv_concept h2 {
    font-size: 2.5rem;
    margin-left: 0px;
    padding-bottom: 4.2rem;
    line-height: 2.1;
  }
}
section#about.fv_sec2 .inner .fv_textbox .fv_concept h2 span.fv_concept_indent {
  padding-left: 2rem;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  section#about.fv_sec2 .inner .fv_textbox .fv_concept h2 span.fv_concept_indent {
    padding-left: unset;
  }
}
section#about.fv_sec2 .inner .fv_textbox .textbox {
  line-height: 1.37;
}
@media screen and (max-width: 767px) {
  section#about.fv_sec2 .inner .fv_textbox .textbox {
    line-height: 1.6;
  }
}
section#about.fv_sec2 .inner .fv_textbox .textbox p {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.69rem;
}
@media screen and (max-width: 767px) {
  section#about.fv_sec2 .inner .fv_textbox .textbox p {
    font-size: 1.6rem;
    padding-left: 0px;
    letter-spacing: 0.37rem;
  }
}
section#about.fv_sec2 .inner .fv_textbox .textbox p .fv_textbox__indent {
  margin-left: 2.3rem;
  display: inline-block;
  letter-spacing: 0.69rem;
}
@media screen and (max-width: 767px) {
  section#about.fv_sec2 .inner .fv_textbox .textbox p .fv_textbox__indent {
    margin-left: unset;
    letter-spacing: 0.58rem;
  }
}
@media screen and (max-width: 767px) {
  section#about.fv_sec2 .inner .fv_textbox .textbox p .fv_textbox__indent-pc {
    margin-left: unset;
    letter-spacing: 0.58rem;
  }
}

/*============================
#recommend
============================*/
section#recommend.sec1 {
  padding: 8rem 0;
  background-color: rgba(83, 7, 0, 0.1);
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 {
    padding: 5rem 0;
  }
}
section#recommend.sec1 .inner .fade-in-up .section_title p {
  margin-bottom: 6.1rem;
  letter-spacing: 0.6rem;
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .section_title p {
    letter-spacing: 0.4rem;
    margin-bottom: 3.8rem;
  }
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container {
  margin-bottom: 8rem;
  /* --- recommend --- */
  /* --- end recommend --- */
  /* --- recommend_list_reverse --- */
  /* --- end recommend_list_reverse --- */
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container {
    margin-bottom: 5rem;
  }
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container.last-recommend {
  margin-bottom: 0rem;
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend {
  display: flex;
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend {
    flex-direction: column;
    position: static;
  }
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend .recommend_img {
  max-width: 65.3%;
  margin: 0;
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend .recommend_img {
    max-width: 100%;
  }
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend .recommend_img p {
  margin-top: 2rem;
  text-align: left;
  line-height: 1.563;
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend .recommend_img p {
    margin: 0.5rem 0 0.6rem;
  }
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend .recommend_title {
  flex: 1;
  background-color: #530700;
  color: #fff;
  padding: 5rem 2rem 4.2rem 4rem;
  margin-top: 15rem;
  position: relative;
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend .recommend_title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -180px;
  width: 100%;
  height: 100%;
  background-color: #530700;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend .recommend_title::before {
    content: none;
  }
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend .recommend_title {
    position: static;
    width: 100%;
    padding: 2.3rem 2rem 1.2rem 2rem;
    margin-top: 0;
  }
}
@media screen and (max-width: 340px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend .recommend_title {
    padding: 1.5rem 0.5rem 1rem 1rem;
  }
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend .recommend_title h3 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.32;
}
@media screen and (max-width: 980px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend .recommend_title h3 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend .recommend_title h3 {
    font-size: 2rem;
    line-height: 1.32;
  }
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend .recommend_title p.recommend_textbox {
  padding-top: 1.7rem;
  line-height: 1.563;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend .recommend_title p.recommend_textbox {
    padding-top: 1rem;
  }
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse {
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse {
    flex-direction: column;
    position: static;
  }
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse .recommend_img {
  max-width: 65.3%;
  margin: 0;
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse .recommend_img {
    max-width: 100%;
  }
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse .recommend_img p {
  margin-top: 2rem;
  text-align: right;
  line-height: 1.563;
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse .recommend_img p {
    margin: 0.5rem 0 0.6rem;
    text-align: left;
  }
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse .recommend_title {
  flex: 1;
  background-color: #530700;
  color: #fff;
  padding: 5rem 0.5rem 4.2rem 4rem;
  margin-top: 15rem;
  position: relative;
  left: 0;
  right: auto;
  top: 42%;
}
@media screen and (max-width: 980px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse .recommend_title {
    padding: 5rem 0.5rem 4.2rem 2rem;
  }
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse .recommend_title::before {
  content: "";
  position: absolute;
  top: 0;
  right: -180px;
  width: 100%;
  height: 100%;
  background-color: #530700;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse .recommend_title::before {
    content: none;
  }
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse .recommend_title {
    position: static;
    width: 100%;
    padding: 2rem 2rem 1rem 2rem;
    margin-top: 0;
    top: auto;
    right: auto;
  }
}
@media screen and (max-width: 340px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse .recommend_title {
    padding: 1.5rem 0.5rem 1rem 1rem;
  }
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse .recommend_title h3 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.32;
}
@media screen and (max-width: 980px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse .recommend_title h3 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse .recommend_title h3 {
    font-size: 2rem;
    line-height: 1.32;
  }
}
section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse .recommend_title p.recommend_textbox {
  padding-top: 1.7rem;
  line-height: 1.563;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  section#recommend.sec1 .inner .fade-in-up .fade-in-up .recommend_container .recommend_list_reverse .recommend_title p.recommend_textbox {
    padding-top: 1rem;
  }
}

/*============================
#course
============================*/
section#course.sec2 {
  padding: 8rem 0px 9.7rem;
  background-image: url(../img/course-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  section#course.sec2 {
    padding: 5rem 0px 6rem;
    background-image: url(../img/sp/course-sp-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
section#course.sec2 .inner .fade-in-up .sec2_modal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.4%;
  margin-top: 6.8rem;
}
@media screen and (max-width: 767px) {
  section#course.sec2 .inner .fade-in-up .sec2_modal {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 3.8rem;
  }
}
section#course.sec2 .inner .fade-in-up .sec2_modal .modal_item {
  cursor: pointer;
  transition: all 0.3s ease;
}
section#course.sec2 .inner .fade-in-up .sec2_modal .modal_item:hover {
  opacity: 0.7;
  transform: translateY(-2px);
}
section#course.sec2 .inner .fade-in-up .sec2_modal .modal_item p.text1 {
  text-align: center;
  padding-top: 1.9rem;
  line-height: 1.563;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  section#course.sec2 .inner .fade-in-up .sec2_modal .modal_item p.text1 {
    text-align: left;
    padding-top: 1rem;
  }
}

.modal-overlay {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.modal-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background: #fff;
  padding: 1.5rem 1.5rem 0.9rem 1.5rem;
  max-width: 450px;
  text-align: center;
  position: relative;
  transform: translateY(20px);
  transition: transform 0.4s ease;
}
@media screen and (max-width: 767px) {
  .modal-content {
    margin: 0 3rem;
  }
}

.modal-overlay.active .modal-content {
  transform: translateY(0);
}

.close-btn {
  position: absolute;
  top: -4.11px;
  right: 2.79px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #000;
  z-index: -1;
}

.modal-text1 {
  text-align: left;
  padding-top: 0.9rem;
  line-height: 1.563;
  margin-left: 0;
}

/*============================
#news
============================*/
section#news.sec3 {
  padding: 8rem 0 8rem;
  background-color: rgba(83, 7, 0, 0.1);
}
@media screen and (max-width: 767px) {
  section#news.sec3 {
    padding: 5rem 0rem;
  }
}
section#news.sec3 .inner .fade-in-up .news_card_box {
  display: flex;
  gap: 6rem;
  margin-top: 6.8rem;
}
@media screen and (max-width: 767px) {
  section#news.sec3 .inner .fade-in-up .news_card_box {
    flex-direction: column;
    align-items: center;
    gap: 4.4rem;
    margin-top: 3.6rem;
  }
}
section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox {
  width: 46.8%;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox {
    width: 100%;
    height: auto;
  }
}
section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox h3.news_title {
  font-size: 2rem;
  color: #fff;
  background-color: #530700;
  line-height: 1.65;
  padding: 1rem 0 0.9rem 2rem;
}
section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox ul.news_list {
  font-size: 1.8rem;
  padding: 0 2rem;
  line-height: 1.38;
}
section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox ul.news_list li.news_item {
  border-bottom: 1px solid #530700;
}
section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox ul.news_list li.news_item a {
  display: flex;
  gap: 5.9rem;
  transition: all 0.3s ease;
  padding: 2rem 0 1.25rem;
}
section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox ul.news_list li.news_item a:hover {
  opacity: 0.6;
}
@media screen and (max-width: 942px) {
  section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox ul.news_list li.news_item a {
    gap: 2rem;
  }
}
@media screen and (max-width: 767px) {
  section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox ul.news_list li.news_item a {
    gap: 0.9rem;
    padding: 2rem 0 1.3rem;
  }
}
section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox ul.news_list li.news_item a p.news_text1_23 {
  font-size: 1.6rem;
  margin-top: 0.8rem;
}
section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox ul.news_list li.news_item a p.news_text2_30 {
  margin-top: 1rem;
}
section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox ul.news_list li.news_item a p.news_text1 {
  font-size: 1.6rem;
  margin-top: -0.3rem;
}
@-webkit-keyframes shakeRight {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shakeRight {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox .btn {
  position: relative;
  text-align: right;
  margin: 1.9rem 2rem 1.8rem;
}
@media screen and (max-width: 767px) {
  section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox .btn {
    margin: 1.7rem 2rem 2rem;
  }
}
section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox .btn a.btn_box {
  display: inline-block;
  position: relative;
  padding: 0 1rem 1.5rem 0.3rem;
  cursor: pointer;
}
section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox .btn a.btn_box:hover p,
section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox .btn a.btn_box:hover .arrow {
  -webkit-animation: shakeRight 0.4s ease;
          animation: shakeRight 0.4s ease;
}
section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox .btn a.btn_box p {
  font-size: 2rem;
  font-family: "EB Garamond", serif;
  line-height: 1;
  color: #530700;
  padding-right: 2.5rem;
  line-height: 1;
}
section#news.sec3 .inner .fade-in-up .news_card_box .news_textbox .btn a.btn_box img.arrow {
  position: absolute;
  right: 0;
  top: 1.05rem;
}

/*============================
#access
============================*/
section#access.sec4 {
  padding: 8.2rem 0 8rem;
  background-image: url(../img/access-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  section#access.sec4 {
    padding: 4.9rem 0px 3.5rem;
    background-image: url(../img/sp/access-sp-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
section#access.sec4 .inner .fade-in-up .sec4_access {
  margin-top: 6.8rem;
}
@media screen and (max-width: 767px) {
  section#access.sec4 .inner .fade-in-up .sec4_access {
    margin-top: 3.8rem;
  }
}
section#access.sec4 .inner .fade-in-up .sec4_access .access {
  display: flex;
}
@media screen and (max-width: 767px) {
  section#access.sec4 .inner .fade-in-up .sec4_access .access {
    position: static;
    flex-direction: column;
    gap: 1.8rem;
  }
}
section#access.sec4 .inner .fade-in-up .sec4_access .access .map {
  width: 65.2%;
}
@media screen and (max-width: 767px) {
  section#access.sec4 .inner .fade-in-up .sec4_access .access .map {
    width: 100%;
    height: auto;
  }
}
section#access.sec4 .inner .fade-in-up .sec4_access .access .map iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
}
@media screen and (max-width: 767px) {
  section#access.sec4 .inner .fade-in-up .sec4_access .access .map iframe {
    aspect-ratio: 315/300;
  }
}
section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name {
  flex: 1;
  background-color: #530700;
  color: #fff;
  padding: 4.6rem 2rem 4.2rem 4rem;
  margin-top: 20rem;
  position: relative;
  z-index: -1;
}
@media screen and (max-width: 830px) {
  section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name {
    padding: 4.6rem 0.5rem 4.2rem 2rem;
  }
}
section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name::before {
  content: "";
  position: absolute;
  top: 0;
  left: -180px;
  width: 100%;
  height: 100%;
  background-color: #530700;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name::before {
    content: none;
  }
}
@media screen and (max-width: 767px) {
  section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name {
    position: static;
    width: 100%;
    height: auto;
    color: #fff;
    padding: 1.9rem 2rem;
    z-index: 1;
    margin-top: 0rem;
  }
}
section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name p {
  font-size: 2rem;
}
section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name address {
  line-height: 1.563;
}
section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name address span {
  font-family: "Noto Serif JP", serif;
}
section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name p.store_tel {
  margin-bottom: 1.4rem;
  font-family: "Noto Serif JP", serif;
  pointer-events: auto;
  font-size: 1.6rem;
  margin: 0.4rem 0 1.5rem;
}
@media screen and (max-width: 767px) {
  section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name p.store_tel {
    margin: 1.4rem 0 1rem;
  }
}
section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name p.store_tel a.tel_link {
  font-size: 2.5rem;
  line-height: 1;
  display: inline-block;
}
@media screen and (max-width: 830px) {
  section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name p.store_tel a.tel_link {
    font-size: 2rem;
  }
}
@media screen and (max-width: 767px) {
  section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name p.store_tel a.tel_link {
    font-size: 2.5rem;
    pointer-events: auto;
    transition: 0.5s;
    cursor: pointer;
  }
}
section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name p.store_mail {
  font-size: 1.6rem;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 830px) {
  section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name p.store_mail {
    font-size: 1.5rem;
  }
}
section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name p.store_mail a {
  transition: all 0.4s ease;
}
section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name p.store_mail a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  section#access.sec4 .inner .fade-in-up .sec4_access .access .store_name p.store_mail {
    padding-bottom: 0px;
    font-size: 1.6rem;
    line-height: 1.316;
  }
}

/*============================
#contact
============================*/
section#contact.sec5 {
  padding: 8rem 3rem;
  background-color: rgba(83, 7, 0, 0.1);
}
@media screen and (max-width: 767px) {
  section#contact.sec5 {
    padding: 5rem 0;
  }
}
section#contact.sec5 .inner {
  max-width: 860px;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .section_title h2 {
    letter-spacing: 0;
  }
}
section#contact.sec5 .inner .fade-in-up p.contact_text {
  margin: 3.3rem 0 3.2rem;
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up p.contact_text {
    margin: 3.4rem 0 2.9rem;
    line-height: 1.65;
  }
}
@media screen and (max-width: 374px) {
  section#contact.sec5 .inner .fade-in-up p.contact_text {
    font-size: 1.8rem;
  }
}
section#contact.sec5 .inner .fade-in-up .contactbox {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 4.9rem;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up .contactbox {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2.9rem;
  }
}
section#contact.sec5 .inner .fade-in-up .contactbox .label_title {
  width: 21.25%;
}
@media screen and (max-width: 942px) {
  section#contact.sec5 .inner .fade-in-up .contactbox .label_title {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up .contactbox .label_title {
    width: 50%;
  }
}
section#contact.sec5 .inner .fade-in-up .contactbox .input_text {
  font-size: 1.6rem;
  background: #fff;
  width: 78.8%;
  padding: 1.3rem 2rem 1.2rem;
  line-height: 1.563;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up .contactbox .input_text {
    width: 100%;
  }
}
section#contact.sec5 .inner .fade-in-up .contactbox .input_text::-moz-placeholder {
  color: #a0a0a0;
}
section#contact.sec5 .inner .fade-in-up .contactbox .input_text::placeholder {
  color: #a0a0a0;
}
section#contact.sec5 .inner .fade-in-up .contactbox p {
  padding-right: 13.3rem;
}
section#contact.sec5 .inner .fade-in-up .contactbox .radio_btn {
  display: flex;
  gap: 56px;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up .contactbox .radio_btn {
    gap: 0px;
  }
}
section#contact.sec5 .inner .fade-in-up .contactbox label.type1 {
  font-size: 1.8rem;
  display: inline-flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up .contactbox label.type1 {
    padding-right: 0;
  }
}
section#contact.sec5 .inner .fade-in-up .contactbox label.type1 span {
  padding-left: 2.2rem;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up .contactbox label.type1 span {
    padding-left: 1.9rem;
    padding-right: 1.2rem;
  }
}
@media screen and (max-width: 767px) and (max-width: 374px) {
  section#contact.sec5 .inner .fade-in-up .contactbox label.type1 span {
    padding-left: 0.5rem;
    font-size: 1.6rem;
  }
}
section#contact.sec5 .inner .fade-in-up .contactbox label.type1 input[type=radio] {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  vertical-align: -2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  cursor: pointer;
}
section#contact.sec5 .inner .fade-in-up .contactbox label.type1 input[type=radio]:checked:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
}
section#contact.sec5 .inner .fade-in-up .contactbox label.type2 {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
section#contact.sec5 .inner .fade-in-up .contactbox label.type2 span {
  font-size: 1.8rem;
  padding-left: 1.9rem;
}
@media screen and (max-width: 374px) {
  section#contact.sec5 .inner .fade-in-up .contactbox label.type2 span {
    padding-left: 0.5rem;
    font-size: 1.6rem;
  }
}
section#contact.sec5 .inner .fade-in-up .contactbox label.type2 input[type=radio] {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  vertical-align: -2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  cursor: pointer;
}
section#contact.sec5 .inner .fade-in-up .contactbox label.type2 input[type=radio]:checked:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
}
section#contact.sec5 .inner .fade-in-up .contactbox label.email {
  padding-right: 1.9rem;
}
section#contact.sec5 .inner .fade-in-up .contactbox.form-type label.type1,
section#contact.sec5 .inner .fade-in-up .contactbox.form-type label.type2,
section#contact.sec5 .inner .fade-in-up .contactbox.form-type label.type1 span,
section#contact.sec5 .inner .fade-in-up .contactbox.form-type label.type2 span {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up .contactbox.form-type {
    flex-direction: row;
    align-items: center;
    gap: 0;
  }
  section#contact.sec5 .inner .fade-in-up .contactbox.form-type .label_title {
    width: 20%;
  }
}
section#contact.sec5 .inner .fade-in-up .form-Course {
  position: relative;
}
section#contact.sec5 .inner .fade-in-up .form-Course select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  width: 100%;
  font-size: 1.8rem;
  cursor: pointer;
  margin-left: 40px;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up .form-Course select {
    margin-left: 0;
  }
}
section#contact.sec5 .inner .fade-in-up .form-Course::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 51%;
  transform: translateY(-50%);
  width: 20px;
  height: 13px;
  background-color: #530700;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up .form-Course::after {
    top: 72%;
  }
}
section#contact.sec5 .inner .fade-in-up label {
  font-size: 2rem;
  line-height: 1.65;
  margin-top: 0.3rem;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up label {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) and (max-width: 374px) {
  section#contact.sec5 .inner .fade-in-up label {
    font-size: 1.7rem;
  }
}
section#contact.sec5 .inner .fade-in-up .form-Content {
  margin: 1rem 0 5rem;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up .form-Content {
    margin: 0 0 32px;
  }
}
section#contact.sec5 .inner .fade-in-up .form-Content textarea {
  background: #fff;
  width: 100%;
  max-width: 800px;
  height: 200px;
  min-height: 200px;
  padding: 2rem;
  min-width: 100%;
  resize: vertical;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up .form-Content textarea {
    width: 100%;
  }
}
section#contact.sec5 .inner .fade-in-up .form-checkbox ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4px;
  padding-top: 4px;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up .form-checkbox ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    row-gap: 0px;
    padding-top: 6px;
  }
}
@media screen and (max-width: 767px) and (max-width: 304px) {
  section#contact.sec5 .inner .fade-in-up .form-checkbox ul {
    row-gap: 5px;
    padding-top: 5px;
  }
}
section#contact.sec5 .inner .fade-in-up .form-checkbox ul li label.check {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
section#contact.sec5 .inner .fade-in-up .form-checkbox ul li label.check input {
  display: none;
}
section#contact.sec5 .inner .fade-in-up .form-checkbox ul li label.check .checkbox-style {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background: #fff;
  position: relative;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up .form-checkbox ul li label.check .checkbox-style {
    margin-right: 0;
  }
}
section#contact.sec5 .inner .fade-in-up .form-checkbox ul li label.check .checkbox-style::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}
section#contact.sec5 .inner .fade-in-up .form-checkbox ul li label.check input:checked + .checkbox-style::before {
  opacity: 1;
}
section#contact.sec5 .inner .fade-in-up .form-checkbox ul li label.check span.check_text {
  font-size: 1.8rem;
  padding-left: 1.4rem;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .fade-in-up .form-checkbox ul li label.check span.check_text {
    font-size: 1.6rem;
    padding-left: 1rem;
  }
}
@media screen and (max-width: 767px) and (max-width: 345px) {
  section#contact.sec5 .inner .fade-in-up .form-checkbox ul li label.check span.check_text {
    padding-left: 0.3rem;
  }
}
section#contact.sec5 .inner .fade-in-up .form-checkbox ul li label.check,
section#contact.sec5 .inner .fade-in-up .form-checkbox ul li label.check .check_text,
section#contact.sec5 .inner .fade-in-up .form-checkbox ul li label.check .checkbox-style {
  cursor: pointer;
}
section#contact.sec5 .inner .privacy {
  margin-top: 4.5rem;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .privacy {
    margin: 2.2rem 0 0px;
  }
}
section#contact.sec5 .inner .privacy h3 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .privacy h3 {
    margin-bottom: -0.3rem;
  }
}
section#contact.sec5 .inner .privacy .privacy_box {
  padding: 1rem;
  background: #fff;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .privacy .privacy_box {
    padding: 1rem 1rem 2.3rem;
  }
}
section#contact.sec5 .inner .privacy .privacy_box .privacy_textbox[data-simplebar] {
  height: 280px;
  padding: 3rem 5rem 3rem 3rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .privacy .privacy_box .privacy_textbox[data-simplebar] {
    padding: 2rem 4rem 2rem 2rem;
    height: 290px;
  }
}
section#contact.sec5 .inner .privacy .privacy_box .privacy_textbox[data-simplebar] .simplebar-track.simplebar-vertical {
  background-color: #e3e3e3;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
}
section#contact.sec5 .inner .privacy .privacy_box .privacy_textbox[data-simplebar] .simplebar-scrollbar {
  width: 10px !important;
  height: 30px !important;
  top: 0 !important;
  background-color: #9b9b9b !important;
}
section#contact.sec5 .inner .privacy .privacy_box .privacy_textbox[data-simplebar] .simplebar-scrollbar:before {
  content: "";
  display: block;
  width: 10px;
  height: 30px;
  background-color: #9b9b9b !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  transform: none !important;
  opacity: 1 !important;
  display: none !important;
}
section#contact.sec5 .inner .privacy .privacy_box .privacy_textbox[data-simplebar] .privacy_text {
  font-size: 1.8rem;
  line-height: 1.722;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .privacy .privacy_box .privacy_textbox[data-simplebar] .privacy_text {
    font-size: 1.6rem;
    line-height: 2.063;
    font-weight: 500;
  }
}
section#contact.sec5 .inner .privacy .btn {
  text-align: center;
  margin-top: 8rem;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .privacy .btn {
    margin-top: 5.4rem;
  }
}
section#contact.sec5 .inner .privacy .btn button.btn2 {
  background: #530700;
  font-size: 2rem;
  color: #fff;
  height: 50px;
  width: 100%;
  max-width: 300px;
  transition: 0.5s;
  border: 1px solid #530700;
}
@media screen and (max-width: 767px) {
  section#contact.sec5 .inner .privacy .btn button.btn2 {
    max-width: 315px;
  }
}
section#contact.sec5 .inner .privacy .btn button.btn2:hover {
  color: #530700;
  background-color: #fff;
}
section#contact.sec5 .inner .privacy .btn button.btn2:hover::before {
  display: inline-block;
}

footer {
  text-align: center;
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 338px;
}
@media screen and (max-width: 767px) {
  footer {
    background-image: url(../img/sp/footer-sp-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
footer .inner {
  max-width: 722px;
  padding-inline: 0rem;
}
@media screen and (max-width: 767px) {
  footer .inner {
    padding-inline: 3rem;
  }
}
footer .inner .footer_container {
  padding: 8rem 0 6rem;
}
@media screen and (max-width: 767px) {
  footer .inner .footer_container {
    padding: 5rem 0px 2.7rem;
  }
}
footer .inner .footer_container p.footer_ {
  font-size: 2rem;
  border-bottom: 1px solid #000;
  padding-bottom: 2.3rem;
}
@media screen and (max-width: 767px) {
  footer .inner .footer_container p.footer_ {
    padding-bottom: 1.5rem;
  }
}
footer .inner .footer_container p.footer_ a {
  transition: 0.3s;
}
footer .inner .footer_container p.footer_ a:hover {
  opacity: 0.6;
}
footer .inner .footer_container nav.footer_nav {
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  footer .inner .footer_container nav.footer_nav {
    font-size: 1.8rem;
  }
}
footer .inner .footer_container nav.footer_nav ul.footer_list1,
footer .inner .footer_container nav.footer_nav ul.footer_list2,
footer .inner .footer_container nav.footer_nav ul.footer_list3 {
  display: none;
}
@media screen and (max-width: 767px) {
  footer .inner .footer_container nav.footer_nav ul.footer_list1,
footer .inner .footer_container nav.footer_nav ul.footer_list2,
footer .inner .footer_container nav.footer_nav ul.footer_list3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    text-align: center;
  }
  footer .inner .footer_container nav.footer_nav ul.footer_list1 a,
footer .inner .footer_container nav.footer_nav ul.footer_list2 a,
footer .inner .footer_container nav.footer_nav ul.footer_list3 a {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  footer .inner .footer_container nav.footer_nav ul.footer_list1 {
    padding-top: 2rem;
    gap: 2rem;
  }
}
@media screen and (max-width: 767px) {
  footer .inner .footer_container nav.footer_nav ul.footer_list2 {
    padding-top: 0.5rem;
    gap: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (max-width: 767px) {
  footer .inner .footer_container nav.footer_nav ul.footer_list3 {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
  }
  footer .inner .footer_container nav.footer_nav ul.footer_list3 li {
    width: 100%;
  }
}
footer .inner .footer_container nav.footer_nav ul.footer_list.pc_only {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  margin: 3rem 0 1.6rem;
  line-height: 1.833;
  font-size: 1.8rem;
}
@media screen and (max-width: 767px) {
  footer .inner .footer_container nav.footer_nav ul.footer_list.pc_only.pc_only {
    display: none;
  }
}
footer .inner .footer_container nav.footer_nav ul.footer_list.pc_only li.footer_item a.scroll-link {
  transition: 0.3s;
}
footer .inner .footer_container nav.footer_nav ul.footer_list.pc_only li.footer_item a.scroll-link:hover {
  opacity: 0.6;
}
footer .inner .footer_container nav.footer_nav ul.footer_list1.sp_only li.footer_item a.scroll-link,
footer .inner .footer_container nav.footer_nav ul.footer_list2.sp_only li.footer_item a.scroll-link,
footer .inner .footer_container nav.footer_nav ul.footer_list3.sp_only li.footer_item a.scroll-link {
  transition: 0.3s;
}
footer .inner .footer_container nav.footer_nav ul.footer_list1.sp_only li.footer_item a.scroll-link:hover,
footer .inner .footer_container nav.footer_nav ul.footer_list2.sp_only li.footer_item a.scroll-link:hover,
footer .inner .footer_container nav.footer_nav ul.footer_list3.sp_only li.footer_item a.scroll-link:hover {
  opacity: 0.6;
}
footer .inner .footer_container nav.footer_nav ul.footer_sns {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  footer .inner .footer_container nav.footer_nav ul.footer_sns {
    margin-top: 2rem;
  }
}
footer .inner .footer_container nav.footer_nav ul.footer_sns li a {
  transition: 0.3s;
  display: inline-block;
  padding: 1rem 1.5rem 1rem;
}
footer .inner .footer_container nav.footer_nav ul.footer_sns li a:hover {
  opacity: 0.6;
}
footer .inner .footer_container nav.footer_nav ul.footer_sns li a img {
  display: block;
}
footer .copyright {
  background: #530700;
}
footer .copyright p {
  padding: 3rem 0;
  color: #fff;
  font-size: 2rem;
  line-height: 1.65;
  font-family: "EB Garamond", serif;
}
@media screen and (max-width: 767px) {
  footer .copyright p {
    padding: 2.1rem 0 2.3rem;
    line-height: 1.4;
    font-size: 2rem;
  }
}

.scroll-btn {
  position: fixed;
  bottom: 60px;
  right: 60px;
}
@media screen and (max-width: 767px) {
  .scroll-btn {
    right: 20px;
  }
}
.scroll-btn .to-top {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 68px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
.scroll-btn .to-top.to-top--visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media screen and (max-width: 767px) {
  .scroll-btn .to-top {
    width: 50px;
  }
}
.scroll-btn .to-top:hover {
  opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */