@charset "UTF-8";
@use "reset";

//サイトカラー
$main_color: #530700;
$sub_color: rgb(83, 7, 0, 0.1);

//ブレイクポイント
$sm: 767px;

@mixin mq($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

// -----------------------------------共通パーツ------------------------------------//

body {
  font-family: "Zen Old Mincho";
  line-height: 1.8;
  margin: 0;
  font-weight: 500;
  font-size: 1.6rem;
  // デフォルト（PCを基準）
  .pc_only {
    display: block;
  }
  .sp_only {
    display: none;
  }
  .sm_only {
    display: none;
  }

  .tb_only {
    display: block;
  }

  .sp_indent {
    display: block;
  }

  .sm_indent {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 950px) {
    .tb_only {
      display: none;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 375px) {
    .sm_only {
      display: block;
    }
  }

  @media screen and (min-width: 300px) and (max-width: 355px) {
    .sp_indent {
      display: none;
    }
  }

  @media screen and (min-width: 352px) and (max-width: 375px) {
    .sm_indent {
      display: inline;
    }
  }

  // 768px以下（SP）
  @media screen and (max-width: 767px) {
    .pc_only {
      display: none;
    }
    .sp_only {
      display: block;
    }
  }
}
img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.inner {
  max-width: 98rem;
  margin: auto;
  padding-inline: 3rem;
  .section_title {
    text-align: center;
    h2 {
      font-size: 3rem;
      letter-spacing: 0.9rem;
      line-height: 1.1;
      color: $main_color;
      font-family: "Zen Old Mincho";
      margin-bottom: 0.6rem;
      @media screen and (max-width: 359px) {
        font-size: 2.5rem;
      }
    }
    p {
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 0.4rem;
      line-height: 1.65;
      font-family: "EB Garamond", serif;
      @include mq($sm) {
        letter-spacing: 0.4rem;
        @media screen and (max-width: 345px) {
          font-size: 1.8rem;
        }
      }
    }
  }
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform;
}

.fade-in-up.active {
  opacity: 1;
  transform: translateY(0);
}

// -----------------------------------ヘッダー------------------------------------//

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 8rem;
  text-align: center;
  transition: background-color 0.3s ease;
  background-color: transparent; // 初期状態の背景色

  @include mq($sm) {
    height: 5rem;
  }

  &.scrolled {
    background-color: rgb(83, 7, 0); // スクロール後の背景色
  }
}

.header_container {
  max-width: 108rem;
  margin: 0 auto;
  display: flex;
  padding-inline: 8rem;
  height: 100%;
  justify-content: space-between;
  color: #fff;
  white-space: nowrap;
  @media screen and (max-width: 1000px) {
    padding-inline: 2rem;
  }
  @include mq($sm) {
    padding-left: 2.2rem;
    height: 5rem;
    justify-content: flex-start;
    align-items: center;
  }
  a {
    display: inline-block;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    @include mq($sm) {
      height: 5rem;
    }
    &:hover {
      opacity: 0.6;
    }

    h1.header_logo {
      font-size: 2rem;
      position: relative;
      top: 0.5rem;
      @include mq($sm) {
        top: 0;
      }
    }
  }
}

.header_list {
  display: flex;
  gap: 2.2rem;
  font-size: 1.8rem;
  line-height: 1.5;
  position: relative;
  @media screen and (max-width: 1000px) {
    gap: 1rem;
  }
  @include mq($sm) {
    gap: 0;
  }
}

.header_item a {
  display: flex;
  align-items: center;
  height: 8rem;
  position: relative;
  transition: opacity 0.3s ease;
  &::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 0.1rem;
    background-color: #fff;
    bottom: 2rem;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform 0.3s;
    @include mq($sm) {
      height: 5rem;
    }
  }
  &:hover {
    opacity: 0.6;

    &::after {
      transform: scale(1, 1);
    }
  }
  span {
    display: inline-block;
    transform: translateY(5px); // ← 視覚的に下げる
  }
}
// -------------------------------SP版ハンバーガー-----------------------------------//

@media screen and (max-width: 767px) {
  header .toggle_menu {
    display: inline-block;
    width: 72px;
    height: 50px;
    position: absolute;
    z-index: 1001;
    top: 0;
    right: 0;
    background: #fff;
    transition: 0.2s;
  }

  header .open {
    background: #fff;
  }

  header .toggle_menu .toggle_line {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-indent: -9999px;
    width: 32px;
    height: 4px;
    border-radius: 5px;
    background-color: $main_color;
  }

  header .toggle_menu .toggle_line::before {
    top: -12px;
    -webkit-animation: menu-barTop 0.6s forwards;
    animation: menu-barTop 0.6s forwards;
    content: "";
    position: absolute;
    left: 0;
    width: 32px;
    height: 4px;
    border-radius: 5px;
    background-color: $main_color;
    transition: all 0.4s ease;
  }

  header .toggle_menu .toggle_line::after {
    top: 12px;
    -webkit-animation: menu-barBottom 0.6s forwards;
    animation: menu-barBottom 0.6s forwards;
    content: "";
    position: absolute;
    left: 0;
    width: 32px;
    height: 4px;
    border-radius: 5px;
    background-color: $main_color;
    transition: all 0.4s ease;
  }

  header.open .toggle_menu .toggle_line {
    height: 0;
  }

  header.open .toggle_menu .toggle_line::before {
    transform: rotate(-45deg);
    transition: 0.4s;
    top: -2px;
    width: 32px;
  }

  header.open .toggle_menu .toggle_line::after {
    transform: rotate(45deg);
    transition: 0.4s;
    top: -2px;
    width: 32px;
  }
  .header_nav {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #4b0000;
    width: 300px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s;
    z-index: 1000;
  }

  header.open .header_nav {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    visibility: visible;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .header_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.6rem;
    @include mq($sm) {
      gap: 0;
    }
  }

  .header_item {
    transform: translateX(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  header.open .header_item {
    transform: translateX(0);
  }

  // 遅延フェード（必要に応じて）
  header.open .header_item:nth-child(1) {
    transition-delay: 0.1s;
  }
  header.open .header_item:nth-child(2) {
    transition-delay: 0.2s;
  }
  header.open .header_item:nth-child(3) {
    transition-delay: 0.3s;
  }
  header.open .header_item:nth-child(4) {
    transition-delay: 0.4s;
  }
  header.open .header_item:nth-child(5) {
    transition-delay: 0.5s;
  }
  header.open .header_item:nth-child(6) {
    transition-delay: 0.6s;
  }

  .header_item a {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    padding: 15px 230px 15px 20px;
    white-space: nowrap;
    transition: all 0.4s ease;

    &::after {
      display: none;
    }

    &:hover {
      background-color: #000;
      opacity: 1;
    }
  }
}
// -----------------------------ファーストビュー-----------------------------------//
section.fv_sec1 {
  position: relative;
  picture {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  div.fv_title {
    position: absolute;
    top: 42.7%;
    left: 5.8%;
    @include mq($sm) {
      top: 50%;
      left: 51%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
    h2 {
      font-size: 4rem;
      text-shadow: 5px 5px 5px #000;
      line-height: 1.75;
      letter-spacing: 1.2rem;
      color: #fff;
      @include mq($sm) {
        font-size: 3rem;
        text-align: center;
        line-height: 2;
        letter-spacing: 0.89rem;
      }
    }
  }
}
/*============================
#about
============================*/
section#about.fv_sec2 {
  background-image: url(../img/section-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 13rem 0 11.7rem;
  @include mq($sm) {
    padding: 6rem 0 5.6rem;
    background-image: url(../img/sp/section-sp_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  div.inner {
    padding-inline: unset;
    div.fv_textbox {
      writing-mode: vertical-rl;
      margin: auto;
      @include mq($sm) {
        display: flex;
        align-items: center;
      }
      div.fv_concept {
        line-height: 1.18;
        margin-left: 5rem;
        @include mq($sm) {
          margin-left: unset;
        }
        h2 {
          font-size: 3rem;
          font-weight: 500;
          color: $main_color;
          letter-spacing: 0.5rem;
          @include mq($sm) {
            font-size: 2.5rem;
            margin-left: 0px;
            padding-bottom: 4.2rem;
            line-height: 2.1;
          }
          span.fv_concept_indent {
            padding-left: 2rem;
            display: inline-block;
            @include mq($sm) {
              padding-left: unset;
            }
          }
        }
      }
      div.textbox {
        line-height: 1.37;
        @include mq($sm) {
          line-height: 1.6;
        }
        p {
          font-size: 1.8rem;
          font-weight: 500;
          letter-spacing: 0.69rem;
          @include mq($sm) {
            font-size: 1.6rem;
            padding-left: 0px;
            letter-spacing: 0.37rem;
          }
          .fv_textbox__indent {
            margin-left: 2.3rem;
            display: inline-block;
            letter-spacing: 0.69rem;
            @include mq($sm) {
              margin-left: unset;
              letter-spacing: 0.58rem;
            }
          }
        }
      }
    }
  }
}

/*============================
#recommend
============================*/
section#recommend.sec1 {
  padding: 8rem 0;
  background-color: $sub_color;
  @include mq($sm) {
    padding: 5rem 0 5.4rem;
  }
  div.inner {
    div.fade-in-up {
      div.section_title {
        p {
          margin-bottom: 6.1rem;
          letter-spacing: 0.6rem;
          @include mq($sm) {
            letter-spacing: 0.4rem;
            margin-bottom: 3.8rem;
          }
        }
      }
      div.fade-in-up {
        div.recommend_container {
          margin-bottom: 12.8rem;

          @include mq($sm) {
            margin-bottom: 5rem;
          }

          &.last-recommend {
            margin-bottom: 4.8rem;

            @include mq($sm) {
              margin-bottom: 0rem;
            }
          }
          div.recommend {
            position: relative;
            @include mq($sm) {
              flex-direction: column;
              gap: 0.6rem;
            }
            div.recommend_img {
              max-width: 65.3%;
              margin: 0;
              @media screen and (max-width: 942px) {
              }
              @include mq($sm) {
                max-width: 100%;
              }
              p {
                margin-top: 2rem;
                @include mq($sm) {
                  margin: 0.1rem 0 0.5rem 0;
                }
              }
            }
            div.recommend_title {
              position: absolute;
              background-color: $main_color;
              width: 54.35%;
              height: auto;
              color: #fff;
              top: 43%;
              right: 0;
              z-index: -1;
              padding: 5rem 0.5rem 4.2rem 22rem;
              @media screen and (max-width: 865px) {
                padding: 4.5rem 0.5rem 3rem 16.5rem;
              }
              @include mq($sm) {
                position: static;
                width: 100%;
                height: auto;
                padding: 2.3rem 2rem 1.2rem 2rem;
                top: 0px;
              }
              @media screen and (max-width: 340px) {
                padding: 1.5rem 0.5rem 1rem 1rem;
              }
              h3 {
                font-size: 2.5rem;
                font-weight: 600;
                line-height: 1.32;
                @media screen and (max-width: 865px) {
                  font-size: 2.2rem;
                }
                @include mq($sm) {
                  font-size: 2rem;
                  font-weight: 600;
                  padding-top: 0px;
                  line-height: 1.32;
                }
              }
              p.recommend_textbox {
                padding-top: 1.7rem;
                line-height: 1.563;
                font-weight: 400;
                @media screen and (max-width: 898px) {
                }
                @include mq($sm) {
                  padding-block: 0.8rem 0rem;
                }
              }
            }
          }
          div.recommend_list_reverse {
            display: flex;
            flex-direction: row-reverse;
            position: relative;
            @include mq($sm) {
              position: static;
              flex-direction: column;
              gap: 6px;
            }
            div.recommend_img {
              max-width: 65.3%;
              margin: 0;
              @include mq($sm) {
                max-width: 100%;
              }
              p {
                text-align: right;
                margin-top: 2rem;
                @include mq($sm) {
                  text-align: left;
                  margin: 4px 0 0 0;
                }
              }
            }
            div.recommend_title {
              position: absolute;
              background-color: $main_color;
              width: 54%;
              height: auto;
              color: #fff;
              top: 42%;
              left: 0;
              z-index: -1;
              padding: 5rem 18.5rem 4.2rem 4rem;
              @media screen and (max-width: 898px) {
                padding: 4.5rem 12.5rem 3rem 2rem;
              }
              @include mq($sm) {
                position: static;
                width: 100%;
                height: auto;
                color: #fff;
                top: 260px;
                left: 0;
                padding-left: 0px;
                padding: 2rem 2rem 1rem 2rem;
              }
              @media screen and (max-width: 340px) {
                padding: 1.5rem 0.5rem 1rem 1rem;
              }
              h3 {
                font-size: 2.5rem;
                font-weight: 600;
                line-height: 1.32;
                white-space: nowrap;
                @media screen and (max-width: 865px) {
                  font-size: 2.2rem;
                }
                @include mq($sm) {
                  font-size: 2rem;
                  padding-right: 0px;
                  padding-top: 0px;
                  line-height: 1.32;
                }
              }
              p.recommend_textbox {
                padding-top: 1.7rem;
                line-height: 1.563;
                font-weight: 400;
                @include mq($sm) {
                  padding-top: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .recommend_container.last-recommend {
    margin-bottom: 0;

    @include mq($sm) {
      margin-bottom: 0;
    }
  }
}

/*============================
#course
============================*/
section#course.sec2 {
  padding: 8rem 0px 9.7rem;
  background-image: url(../img/course-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @include mq($sm) {
    padding: 5rem 0px 6rem;
    background-image: url(../img/sp/course-sp-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  div.inner {
    div.fade-in-up {
      div.sec2_modal {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;
        margin-top: 6.8rem;
        @include mq($sm) {
          grid-template-columns: 1fr;
          gap: 2rem;
          margin-top: 3.8rem;
        }
        div.modal_item {
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            opacity: 0.7;
            transform: translateY(-2px);
          }
          p.text1 {
            text-align: center;
            padding-top: 1.9rem;
            line-height: 1.563;
            white-space: nowrap;
            @include mq($sm) {
              text-align: left;
              padding-top: 1rem;
            }
          }
        }
      }
    }
  }
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-overlay.active {
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 1.5rem 1.5rem 0.9rem 1.5rem;
  max-width: 450px;
  text-align: center;
  position: relative;
  @include mq($sm) {
    margin: 0 3rem;
  }
}

.close-btn {
  position: absolute;
  top: 1px;
  right: 1px;
  background: transparent;
  width: 15px;
  border: none;
  cursor: pointer;
  color: #000;
}

.modal-text1 {
  text-align: left;
  padding-top: 0.9rem;
  line-height: 1.563;
  margin-left: 0;
}

body.no-scroll {
  overflow: hidden;
}

/*============================
#news
============================*/
section#news.sec3 {
  padding: 7.8rem 0 8rem;
  background-color: $sub_color;
  @include mq($sm) {
    padding: 5.5rem 0rem 5.1rem;
  }
  div.inner {
    div.fade-in-up {
      div.news_card_box {
        display: flex;
        gap: 6rem;
        margin-top: 7rem;
        @include mq($sm) {
          flex-direction: column;
          align-items: center;
          gap: 4.8rem;
          margin-top: 3.2rem;
        }
        div.news_textbox {
          width: 46.8%;
          background-color: #fff;
          @include mq($sm) {
            width: 100%;
            height: auto;
          }
          h3.news_title {
            font-size: 2rem;
            color: #fff;
            background-color: $main_color;
            line-height: 1.65;
            padding: 0.8rem 0 0.9rem 2rem;
          }
          ul.news_list {
            font-size: 1.8rem;
            padding: 0 2rem;
            line-height: 1.38;
            li.news_item {
              border-bottom: 1px solid $main_color;
              a {
                display: flex;
                gap: 5.9rem;
                transition: all 0.3s ease;
                &:hover {
                  opacity: 0.6;
                }
                @media screen and (max-width: 942px) {
                  gap: 2rem;
                }
                @include mq($sm) {
                  gap: 0.9rem;
                }
                p.news_text1_23 {
                  font-size: 1.6rem;
                  padding: 2.7rem 0 3.7rem;
                }
                p.news_text2_30 {
                  padding: 3rem 0 1.2rem;
                }
                p.news_text1 {
                  padding: 1.8rem 0 3.7rem;
                  font-size: 1.6rem;
                }
                p.news_text2 {
                  padding: 2rem 0 1.3rem;
                }
              }
            }
          }

          @keyframes shakeRight {
            0% {
              transform: translateX(0);
            }
            30% {
              transform: translateX(5px);
            }
            60% {
              transform: translateX(-3px);
            }
            100% {
              transform: translateX(0);
            }
          }
          div.btn {
            font-size: 2rem;
            font-family: "EB Garamond", serif;
            display: flex;
            justify-content: flex-end;
            margin: 1.6rem 5.6rem 2.2rem;
            position: relative;
            @include mq($sm) {
              margin: 1.7rem 5.6rem 2.1rem;
            }
            a.btn2 {
              position: relative;
              &:hover {
                .text,
                .arrow {
                  animation: shakeRight 0.4s ease;
                }
              }
              span.text {
                position: relative;
                display: inline-block; // ← これ追加！
                color: $main_color;
              }
              span.arrow {
                position: absolute;
                top: 1px;
                right: -38px;
                img {
                  width: 80px;
                }
              }
            }
          }
        }
      }
    }
  }
}
/*============================
#access
============================*/
section#access.sec4 {
  padding: 8.2rem 0 14rem;
  background-image: url(../img/access-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @include mq($sm) {
    padding: 4.9rem 0px 3.5rem;
    background-image: url(../img/sp/access-sp-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  div.inner {
    div.fade-in-up {
      div.sec4_access {
        div.access {
          position: relative;
          display: flex;
          margin-top: 6.8rem;
          @include mq($sm) {
            position: static;
            flex-direction: column;
            gap: 1.8rem;
            margin-top: 4rem;
          }
          .map {
            width: 65.2%;
            aspect-ratio: 3 / 2;
            z-index: 99;
            @include mq($sm) {
              width: 100%;
              height: auto;
              aspect-ratio: 315 / 300;
            }
            iframe {
              width: 100%;
              height: 100%;
            }
          }

          div.store_name {
            position: absolute;
            width: 54.4%;
            height: auto;
            background-color: $main_color;
            right: 0;
            top: 50%;
            color: #fff;
            line-height: 1.563;
            z-index: -1;
            padding-block: 4.9rem 4.2rem;
            padding-inline: 22rem 0.5rem;
            @media screen and (max-width: 942px) {
              padding-left: 17.5rem;
              padding-top: 3rem;
            }
            @include mq($sm) {
              position: static;
              width: 100%;
              height: auto;
              color: #fff;
              top: 26rem;
              left: 0;
              padding-left: 0px;
              padding: 1.9rem 0 1.7rem 2rem;
              z-index: 1;
            }
            p {
              font-size: 2rem;
            }
            address {
              margin: 0.7rem 0 1.3rem;
              @include mq($sm) {
                margin: 0.9rem 0 1.3rem;
              }
              span {
                font-family: "Noto Serif JP", serif;
              }
            }
            p.store_tel {
              margin-bottom: 1.4rem;
              font-family: "Noto Serif JP", serif;
              pointer-events: auto;
              font-size: 1.6rem;
              @include mq($sm) {
                margin-bottom: 1rem;
              }
              a.tel_link {
                font-size: 2.5rem;
                line-height: 1;
                display: inline-block;
                @include mq($sm) {
                  pointer-events: auto;
                  transition: 0.5s;
                  cursor: pointer;
                }
              }
            }
            p.store_mail {
              font-size: 1.6rem;
              font-family: "Noto Serif JP", serif;
              a {
                transition: all 0.4s ease;
                &:hover {
                  opacity: 0.7;
                }
              }
              @include mq($sm) {
                padding-bottom: 0px;
                font-size: 1.6rem;
                line-height: 1.316;
              }
            }
          }
        }
      }
    }
  }
}
/*============================
#contact
============================*/
section#contact.sec5 {
  padding: 8rem 3rem;
  background-color: $sub_color;
  @include mq($sm) {
    padding: 5.5rem 3rem 4.8rem;
    @media screen and (max-width: 345px) {
      padding: 5rem 1.5rem 4.8rem;
    }
  }
  div.inner {
    max-width: 800px;
    padding-inline: unset;
    div.section_title h2 {
      @include mq($sm) {
        letter-spacing: 0;
      }
    }
    div.fade-in-up {
      p.contact_text {
        margin: 3.3rem 0 3.2rem;
        font-size: 2rem;
        @include mq($sm) {
          margin: 3.5rem 0 3rem;
          line-height: 1.65;
        }
        @media screen and (max-width: 374px) {
          font-size: 1.8rem;
        }
      } // 共通フォームボックス
      .contactbox {
        display: flex;
        align-items: center;
        font-size: 2rem;
        margin-bottom: 4.9rem;

        @include mq($sm) {
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 2.9rem;
        }

        .label_title {
          width: 21.25%;
          @media screen and (max-width: 942px) {
            width: 25%;
          }
          @include mq($sm) {
            width: 50%;
          }
        }

        .input_text {
          font-size: 1.6rem;
          background: #fff;
          width: 78.8%;
          padding: 1.3rem 0 1.2rem 2rem;
          line-height: 1.563;

          @include mq($sm) {
            width: 100%;
          }
          &::placeholder {
            color: #a0a0a0;
          }
        }

        p {
          padding-right: 13.3rem;
        }
        .radio_btn {
          display: flex;
          gap: 56px;
          @include mq($sm) {
            gap: 0px;
          }
        }
        // ラジオボタン type1
        label.type1 {
          font-size: 1.8rem;
          display: inline-flex;
          align-items: center;

          @include mq($sm) {
            padding-right: 0;
          }

          span {
            padding-left: 2.2rem;
            @include mq($sm) {
              padding-left: 1.9rem;
              padding-right: 1.2rem;
              @media screen and (max-width: 374px) {
                padding-left: 0.5rem;
                font-size: 1.6rem;
              }
            }
          }

          input[type="radio"] {
            position: relative;
            width: 20px;
            height: 20px;
            border: 1px solid #fff;
            border-radius: 50%;
            vertical-align: -2px;
            appearance: none;
            background: #fff;
            cursor: pointer;
          }

          input[type="radio"]:checked:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #000;
          }
        }

        // ラジオボタン type2
        label.type2 {
          display: inline-flex;
          align-items: center;
          cursor: pointer;

          span {
            font-size: 1.8rem;
            padding-left: 1.9rem;
            @media screen and (max-width: 374px) {
              padding-left: 0.5rem;
              font-size: 1.6rem;
            }
          }

          input[type="radio"] {
            position: relative;
            width: 20px;
            height: 20px;
            border: 1px solid #fff;
            border-radius: 50%;
            vertical-align: -2px;
            appearance: none;
            background: #fff;
            cursor: pointer;
          }

          input[type="radio"]:checked:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #000;
          }
        }

        label.email {
          padding-right: 1.9rem;
        }
      }

      // ラジオボタンカーソル設定
      .contactbox.form-type {
        label.type1,
        label.type2,
        label.type1 span,
        label.type2 span {
          cursor: pointer;
        }

        @include mq($sm) {
          flex-direction: row;
          align-items: center;
          gap: 0;

          .label_title {
            width: 20%;
          }
        }
      }

      // セレクトボックス（コース）
      .form-Course {
        position: relative;

        select {
          appearance: none;
          background-color: #fff;
          color: #333;
          padding: 10px 20px;
          width: 100%;
          font-size: 1.8rem;
          cursor: pointer;
          margin-left: 40px;
          @media screen and (max-width: 942px) {
          }

          @include mq($sm) {
            margin-left: 0;
          }
        }

        &::after {
          content: "";
          position: absolute;
          right: 20px;
          top: 51%;
          transform: translateY(-50%);
          width: 20px;
          height: 13px;
          background-color: $main_color;
          clip-path: polygon(0 0, 100% 0, 50% 100%);
          pointer-events: none;

          @include mq($sm) {
            top: 72%;
          }
        }
      }

      // ラベル共通
      label {
        font-size: 2rem;
        line-height: 1.65;
        margin-top: 0.3rem;

        @include mq($sm) {
          margin-top: 0;
          @media screen and (max-width: 374px) {
            font-size: 1.7rem;
          }
        }
      }

      // 内容入力欄
      .form-Content {
        margin: 1rem 0 5rem;

        @include mq($sm) {
          margin: 0 0 32px;
        }

        textarea {
          background: #fff;
          width: 100%;
          max-width: 800px;
          height: 200px;
          padding: 2rem;

          @include mq($sm) {
            width: 100%;
          }
        }
      }

      // チェックボックス
      .form-checkbox {
        ul {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          row-gap: 4px;
          padding-top: 4px;

          @include mq($sm) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, auto);
            row-gap: 0px;
            padding-top: 6px;
            @media screen and (max-width: 304px) {
              row-gap: 5px;
              padding-top: 5px;
            }
          }

          li {
            label.check {
              display: inline-flex;
              align-items: center;
              cursor: pointer;

              input {
                display: none;
              }

              .checkbox-style {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 8px;
                background: #fff;
                position: relative;

                @include mq($sm) {
                  margin-right: 0;
                }

                &::before {
                  content: "";
                  position: absolute;
                  top: 3px;
                  left: 7px;
                  width: 6px;
                  height: 12px;
                  border: solid #000;
                  border-width: 0 2px 2px 0;
                  transform: rotate(45deg);
                  opacity: 0;
                  transition: opacity 0.2s ease;
                }
              }

              input:checked + .checkbox-style::before {
                opacity: 1;
              }

              span.check_text {
                font-size: 1.8rem;
                padding-left: 1.6rem;

                @include mq($sm) {
                  font-size: 1.6rem;
                  padding-left: 1rem;
                  @media screen and (max-width: 345px) {
                    padding-left: 0.3rem;
                  }
                }
              }
            }

            // チェックボックスのカーソル
            label.check,
            label.check .check_text,
            label.check .checkbox-style {
              cursor: pointer;
            }
          }
        }
      }
    }
    div.privacy {
      margin-top: 4.5rem;
      @include mq($sm) {
        margin: 2.2rem 0 0px;
      }
      h3 {
        font-size: 2rem;
        margin-bottom: 0.6rem;
        @include mq($sm) {
          margin-bottom: 0px;
        }
      }
      div.privacy_box {
        padding: 1rem;
        background: #fff;
        @include mq($sm) {
          padding: 1rem 1rem 2rem;
        }
        div.privacy_textbox[data-simplebar] {
          height: 280px;
          padding: 3rem 4rem 3rem 3rem;
          position: relative;

          @include mq($sm) {
            padding: 2rem 3rem 2rem 2rem;
            height: 290px;
          }

          // スクロールバーの背景

          .simplebar-track.simplebar-vertical {
            background-color: #e3e3e3;
            width: 10px;
            right: 0;
            top: 0;
            bottom: 0;
          }

          .simplebar-scrollbar {
            width: 10px !important;
            height: 30px !important;
            top: 0 !important;
            background-color: #9b9b9b !important; // これで直接色をつける
          }

          .simplebar-scrollbar:before {
            content: "";
            display: block;
            width: 10px;
            height: 30px;
            background-color: #9b9b9b !important;
            border-radius: 0 !important;
            box-shadow: none !important;
            transform: none !important;
            opacity: 1 !important;
            display: none !important;
          }
          div.privacy_text {
            font-size: 1.8rem;
            line-height: 1.722;
            @include mq($sm) {
              font-size: 1.6rem;
              line-height: 2.063;
              font-weight: 500;
            }
          }
        }
      }
      div.btn {
        text-align: center;
        margin-top: 8rem;
        @include mq($sm) {
          margin-top: 5.1rem;
        }
        button.btn2 {
          background: $main_color;
          font-size: 2rem;
          color: #fff;
          height: 50px;
          width: 100%; // ← 親幅に合わせる
          max-width: 300px; // ← 大きい画面では300pxまで
          transition: 0.5s;
          border: 1px solid $main_color;
          @include mq($sm) {
            max-width: 315px;
          }
          &:hover {
            color: $main_color;
            background-color: #fff;
            &::before {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

footer {
  text-align: center;
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 338px;
  @include mq($sm) {
    background-image: url(../img/sp/footer-sp-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  div.inner {
    max-width: 722px;
    padding-inline: 0rem;
    @include mq($sm) {
      padding-inline: 3rem;
    }

    div.footer_container {
      padding: 8rem 0 6.7rem;

      @include mq($sm) {
        padding: 5rem 0px 3.7rem;
      }

      p.footer_ {
        font-size: 2rem;
        border-bottom: 1px solid #000;
        padding-bottom: 2.3rem;

        @include mq($sm) {
          padding-bottom: 1.7rem;
        }

        a {
          transition: 0.3s;

          &:hover {
            opacity: 0.6;
          }
        }
      }

      nav.footer_nav {
        font-size: 2rem;

        @include mq($sm) {
          font-size: 1.8rem;
        }

        ul.footer_list1,
        ul.footer_list2,
        ul.footer_list3 {
          display: none;

          @include mq($sm) {
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-content: center;
            text-align: center;

            a {
              display: block;
              width: 100%;
            }
          }
        }

        ul.footer_list1 {
          @include mq($sm) {
            padding-top: 2rem;
            gap: 2rem;
          }
        }

        ul.footer_list2 {
          @include mq($sm) {
            padding-top: 0.5rem;
            gap: 2rem;
            padding-left: 2rem;
          }
        }

        ul.footer_list3 {
          @include mq($sm) {
            display: flex;
            justify-content: center;
            padding-top: 0.5rem;

            li {
              width: 100%;
            }
          }
        }

        ul.footer_list.pc_only {
          display: flex;
          gap: 2.4rem;
          justify-content: center;
          margin: 3rem 0 1.1rem;
          line-height: 1.833;
          font-size: 1.8rem;

          @include mq($sm) {
            &.pc_only {
              display: none;
            }
          }

          li.footer_item {
            a.scroll-link {
              transition: 0.3s;

              &:hover {
                opacity: 0.6;
              }
            }
          }
        }

        ul.footer_list1.sp_only,
        ul.footer_list2.sp_only,
        ul.footer_list3.sp_only {
          li.footer_item {
            a.scroll-link {
              transition: 0.3s;

              &:hover {
                opacity: 0.6;
              }
            }
          }
        }

        ul.footer_sns {
          display: flex;
          align-items: center;
          justify-content: center;
          @include mq($sm) {
            padding-top: 1rem;
          }
          li {
            a {
              transition: 0.3s;

              &:hover {
                opacity: 0.6;
              }

              img {
                padding: 1.5rem;
              }
            }
          }
        }
      }
    }
  }

  div.copyright {
    background: $main_color;

    p {
      padding: 3rem 0;
      color: #fff;
      font-size: 2rem;
      line-height: 1.65;
      font-family: "EB Garamond", serif;

      @include mq($sm) {
        padding: 2.1rem 0 2.3rem;
        line-height: 1.4;
        font-size: 2rem;
      }
    }
  }
}
.scroll-btn {
  position: fixed;
  bottom: 60px;
  right: 60px;

  @include mq($sm) {
    right: 20px;
  }

  .to-top {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.to-top--visible {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    width: 68px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;

    @include mq($sm) {
      width: 50px;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}
